*{
    padding: 0;
    margin: 0;
}


body{
    background-color: #4A1507 !important;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#background{
    background: #4A1507;
    width: 100%;
    height: 30%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -9;
}

h1{
    font-family: "Inspiration", cursive;
    font-weight: 400;
    font-style: normal;
}

nav{
    background: #440B02 !important;
}

.liste, #banniere{
    background: #78A999 !important;
    padding: 10px;
}

#banniere img{
    width: 25%;
}

li{
    list-style: none;
}

#cartes{
    background: #DDD9C6 !important;
}

.container img{
    max-width: 400px;
}

#cartes{
    background: #DDD9C6;
    width: 100%;
    z-index: -11;
}

#container-cartes {
    position: relative;
    z-index: -10;
}

nav ul{
    display: flex;
    padding: 5px;
    margin-bottom: 0;
    align-content: center;
}

nav ul li{
    list-style-type: none;
    border-right: 1px solid white;
    margin-left: 2px;
    cursor: pointer;
}

nav ul li:last-child{
    border-right: none;
}

.liste li{
    cursor: pointer;
}

.liste li:hover{
    color: rgb(255, 98, 0);
}

@media (max-width : 780px){
    nav ul{
        display: felx;
        flex-direction: column;
    }
    nav ul li{
        border-right: none;
    }
    #banniere img{
        display: none;
    }
}
@media (max-width : 767px){
    div .card{
        width: 11rem;
        padding: 0 auto;
    }
}
@media (min-width : 768px){
    #cartes{
        width: 75%;
    }
}
/* Question 3 */

nav li.active {
    background: #654321;
    color: rgb(255, 98, 0);
}
